**Library Pandas: Definisi dan Fungsi Utama**

**Pandas** adalah sebuah library perangkat lunak untuk bahasa pemrograman Python yang menyediakan struktur data dan alat analisis data yang efisien dan mudah digunakan. Library ini didesain secara spesifik untuk memfasilitasi proses manipulasi dan analisis data terstruktur, seperti data berbentuk tabel.

Fungsi utama dari library Pandas dapat diklasifikasikan sebagai berikut:

1. **Akuisisi dan Penyimpanan Data**: Membaca data dari berbagai format file, seperti CSV dan Excel, serta menulis DataFrame kembali ke dalam format tersebut.

2. **Pembersihan Data**: Menyediakan metode untuk menangani data yang tidak lengkap (missing values), data duplikat, serta inkonsistensi lainnya.

3. **Manipulasi dan Transformasi Data**: Melakukan operasi-operasi seperti pemilihan (selection), penyaringan (filtering), pengurutan (sorting), penggabungan (merging/joining), dan perubahan bentuk (reshaping) data.

4. **Analisis dan Agregasi Data**: Melakukan perhitungan statistik deskriptif, mengelompokkan data berdasarkan kategori tertentu (groupby), dan melakukan agregasi untuk menghasilkan ringkasan data yang informatif.

**BAB 1: Membuat dan Memuat Data (DataFrame)**

*1.1. Membuat DataFrame dari Awal*

In [3]:
#Langkah 1, import library pandas yang akan digunakan untuk membuat sebuah tabel dari data
import pandas as pd

#Langkah 2, buat sebuah data buatan terserah kalian, atau bisa kalian import data dari kaggle
#Contohnya disini saya membuat data mahasiswa sederhana yang berisi nama, prodi, nilai, dan review
data = {
    'Nama' : ['Ali', 'Budi', 'Siti', 'Putri'],
    'Prodi' : ['Informatika', 'Matematika', 'Biologi', 'Kimia'],
    'Nilai' : [90, 80, 85, 95],
    'Review' : ['A-', 'B', 'A/B', 'A']
}

#Langkah 3, Mengubah data menjadi tabel (DataFrame) yang terstruktur
#pd.DataFrame() merupakan instruksi yang digunakan untuk membuat sebuah tabel(baris dan kolom) dari library pandas yang sdh diimport diawal
df = pd.DataFrame(data)

#Langkah 4, menampilkan tabel yang sudah dibuat
print('====Tabel Mahasiswa====')
print(df)

====Tabel Mahasiswa====
    Nama        Prodi  Nilai Review
0    Ali  Informatika     90     A-
1   Budi   Matematika     80      B
2   Siti      Biologi     85    A/B
3  Putri        Kimia     95      A

*1.2. Memuat Data dari Berbagai Sumber (Gathering Data)*

In [ ]:
#Format Berkas CSV
df = pd.read_csv("data.csv", delimiter=",")

#Format Berkas XLXS atau XLS
df = pd.read_excel("data.xlsx", sheet_name="Sheet1")

#Format Berkas JSON
df = pd.read_json("data.json")

#Format Berkas HTML
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list"
df = pd.read_html(url)[0]

#Format XML
df = pd.read_xml("https://www.w3schools.com/xml/books.xml")

#Akses data dari SQL Database
#.read_sql_table()untuk membaca SQL database table dan mempresentasikannya ke dalam bentuk pandas DataFrame
#untuk mengakses database tersebut kita membutuhkan library pendukung yaitu SQLAlchemy
import sqlalchemy as sqla

db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql_table("table_name", db)

#.read_sql_query()untuk membaca SQL query dan mempresentasikannya ke dalam bentuk pandas DataFrame
pd.read_sql_query("SELECT * FROM table_name", db)

#.read_sql()untuk membaca SQL query atau table dan mempresentasikannya ke dalam bentuk pandas DataFrame
pd.read_sql("SELECT * FROM table_name", db)

**Bab 2: Menggabungkan DataFrames**

In [1]:
import pandas as pd

# Tabel data mahasiswa
mahasiswa_df = pd.DataFrame({
    'id_mahasiswa': [1, 2, 3, 4],
    'nama': ['Ali', 'Budi', 'Citra', 'Siti']
})

# Tabel data nilai
nilai_df = pd.DataFrame({
    'id_mahasiswa': [1, 2, 3, 5],
    'mata_kuliah': ['Matematika', 'Fisika', 'Biologi', 'Kimia'],
    'nilai': [85, 90, 88, 92]
})

*2.1 Inner Join*

In [2]:
# Inner Join
inner_join_df = pd.merge(left=mahasiswa_df, right=nilai_df, how='inner', on='id_mahasiswa')
print("--- INNER JOIN ---")
print(inner_join_df)

--- INNER JOIN ---
   id_mahasiswa   nama mata_kuliah  nilai
0             1    Ali  Matematika     85
1             2   Budi      Fisika     90
2             3  Citra     Biologi     88

*2.2 Left Join*

In [3]:
# Left Join
left_join_df = pd.merge(left=mahasiswa_df, right=nilai_df, how='left', on='id_mahasiswa')
print("\n--- LEFT JOIN ---")
print(left_join_df)

--- LEFT JOIN ---
   id_mahasiswa   nama mata_kuliah  nilai
0             1    Ali  Matematika   85.0
1             2   Budi      Fisika   90.0
2             3  Citra     Biologi   88.0
3             4   Siti         NaN    NaN

*2.3 Right Join*

In [4]:
# Right Join
right_join_df = pd.merge(left=mahasiswa_df, right=nilai_df, how='right', on='id_mahasiswa')
print("\n--- RIGHT JOIN ---")
print(right_join_df)

--- RIGHT JOIN ---
   id_mahasiswa   nama mata_kuliah  nilai
0             1    Ali  Matematika     85
1             2   Budi      Fisika     90
2             3  Citra     Biologi     88
3             5    NaN       Kimia     92

*2.4 Outer Join*

In [5]:
# Outer Join
outer_join_df = pd.merge(left=mahasiswa_df, right=nilai_df, how='outer', on='id_mahasiswa')
print("\n--- OUTER JOIN ---")
print(outer_join_df)

--- OUTER JOIN ---
   id_mahasiswa   nama mata_kuliah  nilai
0             1    Ali  Matematika   85.0
1             2   Budi      Fisika   90.0
2             3  Citra     Biologi   88.0
3             4   Siti         NaN    NaN
4             5    NaN       Kimia   92.0

**BAB 3: Inspeksi & Eksplorasi Awal (Assessing Data)**

*3.1. Pratinjau Data*

In [8]:
#Melihat 5 baris pertama menggunakan perintah .head()
print('====5 Baris Pertama====') #karena data kita hanya mempunyai 4 baris, jadi semua data akan tampil
print(df.head())
print('\n')

#Melihat 5 baris terakhir
print('====5 Baris Terakhir====')
print(df.tail())
print('\n')

#random sample
print('====Random Sample====')
print(df.sample(3))
print('\n')

====5 Baris Pertama====
    Nama        Prodi  Nilai Review
0    Ali  Informatika     90     A-
1   Budi   Matematika     80      B
2   Siti      Biologi     85    A/B
3  Putri        Kimia     95      A


====5 Baris Terakhir====
    Nama        Prodi  Nilai Review
0    Ali  Informatika     90     A-
1   Budi   Matematika     80      B
2   Siti      Biologi     85    A/B
3  Putri        Kimia     95      A


====Random Sample====
    Nama        Prodi  Nilai Review
1   Budi   Matematika     80      B
3  Putri        Kimia     95      A
0    Ali  Informatika     90     A-

*3.2. Memahami Struktur & Tipe Data*

In [10]:
#Melihat ukuran tabel (baris dan kolom) menggunakan .shape
print('====Ukuran Tabel====')
print(df.shape)
print('\n')

#Coloumn names
print(df.columns)

#.info() adalah perintah yang digunakan untuk melihat tipe data per kolom
print('====Informasi DataFrame====')
print(df.info())
print('\n')

#Melihat Ringkasan Statistik untuk kolom numerik dengan .describe()
print('====Ringkasan Statistik====')
print(df.describe())
print("\n")

====Ukuran Tabel====
(4, 4)


Index(['Nama', 'Prodi', 'Nilai', 'Review'], dtype='object')
====Informasi DataFrame====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    4 non-null      object
 1   Prodi   4 non-null      object
 2   Nilai   4 non-null      int64
 3   Review  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes
None


====Ringkasan Statistik====
           Nilai
count   4.000000
mean   87.500000
std     6.454972
min    80.000000
25%    83.750000
50%    87.500000
75%    91.250000
max    95.000000

*3.3. Pengecekan Awal Kualitas Data (Assessing Data)*

In [11]:
#Mengecek nilai yang hilang (missing value) di setiap kolom
print('====Missing Value====')
sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
print(sales_df.isnull().sum()) #/ df.isna().sum()
print(sales_df[sales_df.total_price.isnull()])
print("\n")

# Menghitung jumlah baris duplikat
print('====Jumlah Baris Duplikat====')
products_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
print(products_df.duplicated().sum())
print(products_df[products_df.duplicated()])

====Missing Value====
sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64
      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1          NaN
121        121        27        1027              90         3          NaN
278        278        63         360              94         2          NaN
421        421        95        1091             115         1          NaN
489        489       108        1193             105         3          NaN
539        539       117         405             119         2          NaN
636        636       134         653              93         3          NaN
687        687       145        1138             102         1          NaN
854        854       177          64             104         1          NaN
1079      1079       222         908              94         3          NaN
1193      1193       248        1121             102         2          NaN
1313      1313       272         826             117         1          NaN
1548      1548       316         103             118         3          NaN
1688      1688       345         428             107         1          NaN
1775      1775       359         694             113         2          NaN
1902      1902       381        1218             105         3          NaN
2025      2025       408         611             112         3          NaN
2164      2164       436         583             100         3          NaN
2347      2347       476         696             113         2          NaN


====Jumlah Baris Duplikat====
6
     product_id product_type product_name size  colour  price  quantity  \
112          54        Shirt        Dress   XL   green    119        52
232         146        Shirt        Linen    S  orange    116        42
365         146        Shirt        Linen    S  orange    116        42
435         377        Shirt       Henley    M  indigo     92        70
540         483       Jacket       Puffer    L  indigo    110        61
587         579       Jacket       Bomber   XL   green     90        79

                                   description
112    A green coloured, XL sized, Dress Shirt
232    A orange coloured, S sized, Linen Shirt
365    A orange coloured, S sized, Linen Shirt
435   A indigo coloured, M sized, Henley Shirt
540  A indigo coloured, L sized, Puffer Jacket
587  A green coloured, XL sized, Bomber Jacket

**Bab 4: Manipulasi Data (Seleksi, Pengurutan, dan Transformasi)**

*4.1. Seleksi Data (Indexing & Slicing)*

In [13]:
# Memilih satu kolom
nama_mahasiswa = df['Nama']
print(nama_mahasiswa)

# Memilih beberapa kolom
prodi_dan_nilai = df[['Prodi', 'Nilai']]
print(prodi_dan_nilai)

# Menampilkan data mahasiswa yang nilainya di atas 85
mahasiswa_pintar = df[df['Nilai'] > 85]
print(mahasiswa_pintar)

# Menambah kolom 'Status' berdasarkan nilai
df['Status'] = ['Lulus' if nilai >= 85 else 'Mengulang' for nilai in df['Nilai']]
print(df)

#Memilih baris berdasarkan label/kondisi (.loc)
df.loc[0] # Baris dengan indeks 0
print(df.loc[df['Nilai'] > 85]) # Baris dimana nilai > 85

# Memilih baris/kolom berdasarkan posisi angka (.iloc)
print(df.iloc[0, 1]) # Data pada baris ke-0, kolom ke-1

0      Ali
1     Budi
2     Siti
3    Putri
Name: Nama, dtype: object
         Prodi  Nilai
0  Informatika     90
1   Matematika     80
2      Biologi     85
3        Kimia     95
    Nama        Prodi  Nilai Review
0    Ali  Informatika     90     A-
3  Putri        Kimia     95      A
    Nama        Prodi  Nilai Review     Status
0    Ali  Informatika     90     A-      Lulus
1   Budi   Matematika     80      B  Mengulang
2   Siti      Biologi     85    A/B      Lulus
3  Putri        Kimia     95      A      Lulus
    Nama        Prodi  Nilai Review Status
0    Ali  Informatika     90     A-  Lulus
3  Putri        Kimia     95      A  Lulus
Informatika

*4.2. Mengurutkan Data*

In [14]:
# Mengurutkan mahasiswa berdasarkan nilai tertinggi
df_sorted_highest = df.sort_values(by='Nilai', ascending=False)
print(df_sorted_highest)

# Menampilkan tabel yang sudah diurutkan
print('====Tabel Mahasiswa Diurutkan Berdasarkan Nilai Terendah====')
print(df_sorted_highest)

# Mengurutkan mahasiswa berdasarkan nilai terendah
df_sorted_lowest = df.sort_values(by='Nilai', ascending=True)

# Menampilkan tabel yang sudah diurutkan
print('====Tabel Mahasiswa Diurutkan Berdasarkan Nilai Terendah====')
print(df_sorted_lowest)

    Nama        Prodi  Nilai Review     Status
3  Putri        Kimia     95      A      Lulus
0    Ali  Informatika     90     A-      Lulus
2   Siti      Biologi     85    A/B      Lulus
1   Budi   Matematika     80      B  Mengulang
====Tabel Mahasiswa Diurutkan Berdasarkan Nilai Terendah====
    Nama        Prodi  Nilai Review     Status
3  Putri        Kimia     95      A      Lulus
0    Ali  Informatika     90     A-      Lulus
2   Siti      Biologi     85    A/B      Lulus
1   Budi   Matematika     80      B  Mengulang
====Tabel Mahasiswa Diurutkan Berdasarkan Nilai Terendah====
    Nama        Prodi  Nilai Review     Status
1   Budi   Matematika     80      B  Mengulang
2   Siti      Biologi     85    A/B      Lulus
0    Ali  Informatika     90     A-      Lulus
3  Putri        Kimia     95      A      Lulus

*4.3. Menambah atau Mengubah Kolom*

In [15]:
# Menambah kolom 'Status' berdasarkan nilai
df['Status'] = ['Lulus' if nilai >= 85 else 'Mengulang' for nilai in df['Nilai']]
print(df)

    Nama        Prodi  Nilai Review     Status
0    Ali  Informatika     90     A-      Lulus
1   Budi   Matematika     80      B  Mengulang
2   Siti      Biologi     85    A/B      Lulus
3  Putri        Kimia     95      A      Lulus

**Bab 5: Pembersihan Data (Cleaning Data)**

*5.1. Menangani Data Kosong (Missing Values)*

In [5]:
#Teknik untuk mengatasi missing value

# Load the original data
sales_df_original = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
print("====Original Data (rows with missing total_price)====")
# Filter and print rows where total_price is NaN
print(sales_df_original[sales_df_original['total_price'].isnull()])
print("\nMissing values in original data:")
print(sales_df_original.isnull().sum())

# 1. Dropping
# menghapus seluruh baris atau kolom yang memiliki missing value
sales_df_dropped = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df_dropped = sales_df_dropped.dropna(axis=0)
print("\n====After Dropping Rows with Missing Values (Check if any missing rows remain)====")
# Check if any of the original missing rows are still present in the dropped DataFrame
original_missing_indices = sales_df_original[sales_df_original['total_price'].isnull()].index
print(sales_df_dropped.loc[sales_df_dropped.index.intersection(original_missing_indices)])
print("\nMissing values after dropping:")
print(sales_df_dropped.isnull().sum())


# 2. Imputation
# Metode ini bekerja dengan cara mengisi (fill) missing value dengan nilai tertentu
sales_df_imputed = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
mean_total_price = sales_df_imputed['total_price'].mean()
sales_df_imputed['total_price'] = sales_df_imputed['total_price'].fillna(mean_total_price)
print("\n====After Filling Missing Values with Mean (rows that originally had missing total_price)====")
# Print the rows that originally had missing values
print(sales_df_imputed.loc[original_missing_indices])
print("\nMissing values after imputation:")
print(sales_df_imputed.isnull().sum())


# 3. Interpolation
# Interpolation adalah metode untuk mengisi nilai yang hilang dengan memperkirakan nilainya berdasarkan data yang ada di sekitarnya.
sales_df_interpolated = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df_interpolated['total_price'] = sales_df_interpolated.total_price.interpolate(method='linear', limit_direction='forward')
print("\n====After Linear Interpolation (rows that originally had missing total_price)====")
# Print the rows that originally had missing values
print(sales_df_interpolated.loc[original_missing_indices])
print("\nMissing values after interpolation:")
print(sales_df_interpolated.isnull().sum())

====Original Data (rows with missing total_price)====
      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1          NaN
121        121        27        1027              90         3          NaN
278        278        63         360              94         2          NaN
421        421        95        1091             115         1          NaN
489        489       108        1193             105         3          NaN
539        539       117         405             119         2          NaN
636        636       134         653              93         3          NaN
687        687       145        1138             102         1          NaN
854        854       177          64             104         1          NaN
1079      1079       222         908              94         3          NaN
1193      1193       248        1121             102         2          NaN
1313      1313       272         826             117         1          NaN
1548      1548       316         103             118         3          NaN
1688      1688       345         428             107         1          NaN
1775      1775       359         694             113         2          NaN
1902      1902       381        1218             105         3          NaN
2025      2025       408         611             112         3          NaN
2164      2164       436         583             100         3          NaN
2347      2347       476         696             113         2          NaN

Missing values in original data:
sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64

====After Dropping Rows with Missing Values (Check if any missing rows remain)====
Empty DataFrame
Columns: [sales_id, order_id, product_id, price_per_unit, quantity, total_price]
Index: []

Missing values after dropping:
sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

====After Filling Missing Values with Mean (rows that originally had missing total_price)====
      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1   206.307368
121        121        27        1027              90         3   206.307368
278        278        63         360              94         2   206.307368
421        421        95        1091             115         1   206.307368
489        489       108        1193             105         3   206.307368
539        539       117         405             119         2   206.307368
636        636       134         653              93         3   206.307368
687        687       145        1138             102         1   206.307368
854        854       177          64             104         1   206.307368
1079      1079       222         908              94         3   206.307368
1193      1193       248        1121             102         2   206.307368
1313      1313       272         826             117         1   206.307368
1548      1548       316         103             118         3   206.307368
1688      1688       345         428             107         1   206.307368
1775      1775       359         694             113         2   206.307368
1902      1902       381        1218             105         3   206.307368
2025      2025       408         611             112         3   206.307368
2164      2164       436         583             100         3   206.307368
2347      2347       476         696             113         2   206.307368

Missing values after imputation:
sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

====After Linear Interpolation (rows that originally had missing total_price)====
      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1        309.0
121        121        27        1027              90         3        109.5
278        278        63         360              94         2        146.0
421        421        95        1091             115         1        216.0
489        489       108        1193             105         3        187.5
539        539       117         405             119         2        166.5
636        636       134         653              93         3        150.5
687        687       145        1138             102         1        281.0
854        854       177          64             104         1         92.5
1079      1079       222         908              94         3        150.5
1193      1193       248        1121             102         2        312.0
1313      1313       272         826             117         1        142.0
1548      1548       316         103             118         3        235.5
1688      1688       345         428             107         1        223.5
1775      1775       359         694             113         2        205.5
1902      1902       381        1218             105         3        355.5
2025      2025       408         611             112         3        172.0
2164      2164       436         583             100         3        159.0
2347      2347       476         696             113         2        258.5

Missing values after interpolation:
sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

*5.2. Menangani Data Duplikat*

In [8]:
#Teknik Untuk Mengatasi Duplicated Data

#method drop_duplicates()
products_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
print("Jumlah Duplikat Awal:",products_df.duplicated().sum())
print("Jumlah Duplikat Sesudah:",products_df.drop_duplicates(inplace=True))

Jumlah Duplikat Awal: 6
Jumlah Duplikat Sesudah: None

*5.3. Menangani Outlier*

In [9]:
#Teknik untuk mengatasi Outlier

import pandas as pd
import numpy as np

# Use the existing df_outliers DataFrame
data = {'Values': [10, 12, 15, 16, 18, 20, 22, 25, 30, 100, -50]}
df_outliers = pd.DataFrame(data)

print("Original DataFrame:")
print(df_outliers)

#1.Drop
#menghapus seluruh baris yang mengandung outlier
Q1 = (df_outliers['Values']).quantile(0.25)
Q3 = (df_outliers['Values']).quantile(0.75)
IQR = Q3 - Q1

maximum = Q3 + (1.5*IQR)
minimum = Q1 - (1.5*IQR)

kondisi_lower_than = df_outliers['Values'] < minimum
kondisi_more_than = df_outliers['Values'] > maximum

df_dropped = df_outliers.copy() # Create a copy to avoid modifying the original df_outliers
df_dropped.drop(df_dropped[kondisi_lower_than].index, inplace=True)
df_dropped.drop(df_dropped[kondisi_more_than].index, inplace=True)

print("\nDataFrame after dropping outliers:")
print(df_dropped)

#2.Imputation
#Nilai yang bisa kita gunakan ialah mean, median, dan mode. Selain itu, tidak jarang juga kita mengganti outlier dengan boundary value.
df_imputed = df_outliers.copy() # Create a copy to avoid modifying the original df_outliers
Q1 = (df_imputed['Values']).quantile(0.25)
Q3 = (df_imputed['Values']).quantile(0.75)
IQR = Q3 - Q1

maximum = Q3 + (1.5*IQR)
minimum = Q1 - (1.5*IQR)

kondisi_lower_than = df_imputed['Values'] < minimum
kondisi_more_than = df_imputed['Values'] > maximum

df_imputed['Values'] = df_imputed['Values'].mask(cond=kondisi_more_than, other=maximum)
df_imputed['Values'] = df_imputed['Values'].mask(cond=kondisi_lower_than, other=minimum)


print("\nDataFrame after imputing outliers with boundary values:")
print(df_imputed)

Original DataFrame:
    Values
0       10
1       12
2       15
3       16
4       18
5       20
6       22
7       25
8       30
9      100
10     -50

DataFrame after dropping outliers:
   Values
0      10
1      12
2      15
3      16
4      18
5      20
6      22
7      25
8      30

DataFrame after imputing outliers with boundary values:
    Values
0     10.0
1     12.0
2     15.0
3     16.0
4     18.0
5     20.0
6     22.0
7     25.0
8     30.0
9     38.5
10    -1.5

/tmp/ipython-input-9-78331727.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_dropped.drop(df_dropped[kondisi_more_than].index, inplace=True)

**Bab 6: Analisis & Agregasi Data**

*6.1: Perhitungan Statistik Dasar*

In [10]:
import pandas as pd

# Dataframe yang akan kita gunakan
data = {
    'Nama': ['Ali', 'Budi', 'Citra', 'Dewi', 'Eka'],
    'Prodi': ['Informatika', 'Matematika', 'Biologi', 'Informatika', 'Biologi'],
    'Nilai': [85, 92, 78, 88, 92]
}
df = pd.DataFrame(data)

# Menjumlahkan semua nilai
total_nilai = df['Nilai'].sum()
print(f"Total semua nilai: {total_nilai}")

# Mencari nilai tertinggi
nilai_tertinggi = df['Nilai'].max()
print(f"Nilai tertinggi: {nilai_tertinggi}")

# Mencari nilai terendah
nilai_terendah = df['Nilai'].min()
print(f"Nilai terendah: {nilai_terendah}")

# Mencari nilai tengah (median)
nilai_tengah = df['Nilai'].median()
print(f"Nilai tengah (median): {nilai_tengah}")

# Menghitung jumlah data
jumlah_data = df['Nilai'].count()
print(f"Jumlah data nilai: {jumlah_data}")

# Menghitung rata-rata untuk kolom 'Population'
rata_rata_nilai = df['Nilai'].mean()
print(f"Rata-rata Nilai: {rata_rata_nilai:,.2f}")

Total semua nilai: 435
Nilai tertinggi: 92
Nilai terendah: 78
Nilai tengah (median): 88.0
Jumlah data nilai: 5
Rata-rata Nilai: 87.00

*6.2. Agregasi dengan groupby()*

In [11]:
#groupby() yang dapat membantu kita dalam membuat pivot table secara lebih efisien dan scalable
#groupby() adalah suatu method yang memungkinkan kita untuk melakukan operasi pada data frame berdasarkan kategori tertentu

body_measurement_df = pd.DataFrame.from_records((
  (2, 83.82, 8.4),
  (4, 99.31, 16.97),
  (3, 96.52, 14.41),
  (6, 114.3, 20.14),
  (4, 101.6, 16.91),
  (2, 86.36, 12.64),
  (3, 92.71, 14.23),
  (2, 85.09, 11.11),
  (2, 85.85, 14.18),
  (5, 106.68, 20.01),
  (4, 99.06, 13.17),
  (5, 109.22, 15.36),
  (4, 100.84, 14.78),
  (6, 115.06, 20.06),
  (2, 84.07, 10.02),
  (7, 121.67, 28.4),
  (3, 94.49, 14.05),
  (6, 116.59, 17.55),
  (7, 121.92, 22.96),
), columns=("age", "height_cm", "weight_kg"))

print(body_measurement_df.groupby(by="age").mean())
print(body_measurement_df.groupby(by='age').agg({
    'height_cm': 'mean',
    'weight_kg': ['mean','max', 'min'],
}))

      height_cm  weight_kg
age
2     85.038000    11.2700
3     94.573333    14.2300
4    100.202500    15.4575
5    107.950000    17.6850
6    115.316667    19.2500
7    121.795000    25.6800
      height_cm weight_kg
           mean      mean    max    min
age
2     85.038000   11.2700  14.18   8.40
3     94.573333   14.2300  14.41  14.05
4    100.202500   15.4575  16.97  13.17
5    107.950000   17.6850  20.01  15.36
6    115.316667   19.2500  20.14  17.55
7    121.795000   25.6800  28.40  22.96

*6.3: Menghitung Frekuensi Kategori (.value_counts())*

In [12]:
# Menghitung jumlah mahasiswa di setiap prodi
frekuensi_prodi = df['Prodi'].value_counts()

print("--- Frekuensi Mahasiswa per Prodi ---")
print(frekuensi_prodi)

--- Frekuensi Mahasiswa per Prodi ---
Prodi
Informatika    2
Biologi        2
Matematika     1
Name: count, dtype: int64

*6.4. Analisis Korelasi (.corr())*

In [13]:
#Correlation
sample_data = {
    'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
    'age': [24, 22, 23, 25, 28],
    'communication_skill_score': [85, 70, 75, 90, 90],
    'quantitative_skill_score': [80, 90, 80, 75, 70]
    }
db = pd.DataFrame(sample_data)
db.corr(numeric_only=True)

,age,communication_skill_score,quantitative_skill_score
age,1.000000,0.848855,-0.922489
communication_skill_score,0.848855,1.000000,-0.890724
quantitative_skill_score,-0.922489,-0.890724,1.000000

In [14]:
#Covariance
sample_data = {
    'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
    'age': [24, 22, 23, 25, 28],
    'communication_skill_score': [85, 70, 75, 90, 90],
    'quantitative_skill_score': [80, 90, 80, 75, 70]
    }

dc = pd.DataFrame(sample_data)
dc.cov(numeric_only=True)

,age,communication_skill_score,quantitative_skill_score
age,5.30,17.75,-15.75
communication_skill_score,17.75,82.50,-60.00
quantitative_skill_score,-15.75,-60.00,55.00

**Contoh Latihan Data Wrangling**

•	Tahap gathering data.

•	Tahap assessing data.

•	Tahap cleaning data.

In [15]:
import pandas as pd
#Gathering Data
customers_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/customers.csv")
customers_df.head()

#Assessing Data
print("====PENGECEKAN TIPE DATA TIAP KOLOM====")
customers_df.info() #Mengecek tipe data setiap kolom
print("\n====PENGECEKAN MISSING VALUE====")
print(customers_df.isna().sum()) #Mengecek missing value
print("\n====PENGECEKAN DUPLICATE DATA====")
print("Jumlah duplikasi: ", customers_df.duplicated().sum()) #mengecek data yang duplikat
print("\n====RINGKASAN PARAMETER STATISTIK====")
print(customers_df.describe()) #menampilkan ringkasan parameter statistik

#Cleaning Data
#Menghilangkan duplicated data
print("\n====PENANGANAN DUPLICATED DATA====")
customers_df.drop_duplicates(inplace=True)
print("Jumlah duplikasi: ", customers_df.duplicated().sum())

#Menangani Missing value
print("\n====PENANGANAN MISSING VALUE====")
print(customers_df[customers_df.gender.isna()]) #untuk melihat baris yang memiliki missing value pada kolom gender
print(customers_df.gender.value_counts()) #untuk mengidentifikasi nilai yang dominan sebagai pengganti missing value
customers_df.fillna(value="Prefer not to say", inplace=True)
print("\nJumlah Missing Value Tiap Kolom (Sesudah):")
print(customers_df.isna().sum())

====PENGECEKAN TIPE DATA TIAP KOLOM====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1007 non-null   int64
 1   customer_name  1007 non-null   object
 2   gender         989 non-null    object
 3   age            1007 non-null   int64
 4   home_address   1007 non-null   object
 5   zip_code       1007 non-null   int64
 6   city           1007 non-null   object
 7   state          1007 non-null   object
 8   country        1007 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.9+ KB

====PENGECEKAN MISSING VALUE====
customer_id       0
customer_name     0
gender           18
age               0
home_address      0
zip_code          0
city              0
state             0
country           0
dtype: int64

====PENGECEKAN DUPLICATE DATA====
Jumlah duplikasi:  6

====RINGKASAN PARAMETER STATISTIK====
       customer_id          age     zip_code
count  1007.000000  1007.000000  1007.000000
mean    501.726912    50.929494  5012.538232
std     288.673238    30.516299  2885.836112
min       1.000000    20.000000     2.000000
25%     252.500000    34.000000  2403.500000
50%     502.000000    50.000000  5087.000000
75%     751.500000    65.000000  7493.500000
max    1000.000000   700.000000  9998.000000

====PENANGANAN DUPLICATED DATA====
Jumlah duplikasi:  0

====PENANGANAN MISSING VALUE====
     customer_id customer_name gender  age                     home_address  \
38            39      fulan 39    NaN   80  7440 Cameron Estate DrSuite 628
167          168     fulan 168    NaN   27         2781 Berge MallSuite 452
322          322     fulan 322    NaN   30        593 Becker CircleApt. 333
393          393     fulan 393    NaN   34          5158 Levi HillSuite 531
442          442     fulan 442    NaN   26           5157 Feil RoadApt. 633
722          720     fulan 720    NaN   40         31 Jordan ParadeApt. 400
745          743     fulan 743    NaN   57   09 Christopher StreetSuite 967
773          771     fulan 771    NaN   74     7367 Wright JunctionApt. 773
798          795     fulan 795    NaN   49          487 Summer MewsApt. 874
801          798     fulan 798    NaN   56           27 Aiden KnollApt. 875
825          822     fulan 822    NaN   59        41 Jenkins KnollSuite 438
859          855     fulan 855    NaN   55       603 O'keefe KnollSuite 782
863          859     fulan 859    NaN   38            32 Isla GroveApt. 078
914          909     fulan 909    NaN   62    976 Murray Station StApt. 036
934          929     fulan 929    NaN   68           394 Lily HillSuite 153
948          943     fulan 943    NaN   64       3117 Heller PlaceSuite 149
952          946     fulan 946    NaN   24      8227 Nicholas HillSuite 150
994          988     fulan 988    NaN   35   1130 Turner Estate DrSuite 925

     zip_code                   city                         state    country
38       4622  North Victoriachester            Northern Territory  Australia
167      1975         North Leoburgh             Western Australia  Australia
322      1640             Jacobiview             Western Australia  Australia
393      1474             Johnsburgh                    Queensland  Australia
442      7249             Port Chloe               New South Wales  Australia
722      1380             West Henry               South Australia  Australia
745      6226         Lake Lukemouth             Western Australia  Australia
773      8882               Kuhntown                      Victoria  Australia
798      1712            East Hayden  Australian Capital Territory  Australia
801      6531               Port Sam  Australian Capital Territory  Australia
825      2588        Lake Andrewport               South Australia  Australia
859      8822        Port Dylanmouth                      Tasmania  Australia
863      7711            Rosechester               New South Wales  Australia
914      3227               Langfort                      Tasmania  Australia
934      2353             Beahanfurt            Northern Territory  Australia
948       822           North Elijah               South Australia  Australia
952       115           South Jasper                    Queensland  Australia
994      9386              New Harry             Western Australia  Australia
gender
Prefer not to say    725
Male                 143
Female               115
Name: count, dtype: int64

Jumlah Missing Value Tiap Kolom (Sesudah):
customer_id      0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
dtype: int64

**Soal Latihan Data Wrangling**

Kerjakan tahapan gathering, assessing, dan cleaning data seperti contoh diatas menggunakan kedua dataset dibawah ini,

orders_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/orders.csv")

sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")